@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700;900&family=PT+Serif:wght@700&display=swap");

body,
section {
  font-family: "Noto Serif KR", serif;
  width: auto;
}
section {
  padding: 0 20px;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.tit {
  font-weight: bold;
}
/* 헤드라인 */
.Header {
  font-family: "PT Serif";
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headerLeft {
  display: inline-block;
  display: flex;
  margin: 0 0 0 15px;
}

.HeaderRight {
  display: inline-block;
  text-align: right;
  display: flex;
  margin: 0 15px 0 0;
}

.headerContainer {
  display: inline-block;
  padding: 3px 3px 0 3px;
  margin: 3px 3px 0 3px;
  /* background-color: rgb(187, 187, 246); */
}

.headerItem {
  display: inline-block;
  padding: 2px;
  margin: 0;
  /* background-color: rgb(187, 187, 243);*/
}

.headerItemlist {
  display: inline-block;
  padding: 3px;
  margin: 3px;
  /* background-color: rgba(248, 218, 187, 0.626); */
}

.mainCenter {
  /* background-color: rgb(239, 239, 126); */
  padding: 5px 5px 30px 5px;
  margin: 10px 5px 30px 5px;
  border-bottom: 1px solid black;
}

.mainBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movieGenres,
.movieRT {
  margin-right: 5px;
  margin-top: 20px;
}

.movieRT {
  display: inline-block;
}

/* 메인 파트 : 영화 내용 소개 및 예고편 */
.Leftright {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 1px 0;
  margin: 5px 0 1px 0;
}

#movieLeft {
  flex: 1;
}
#movieRight {
  flex: 2;
}

.leftPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.movieImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.averageRate p {
  margin: 0 !important;
}

/* 메인 파트2 : 출연자 카드 */
#creditWrapper {
  margin: 20px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.cast {
  /* background-color: rgb(255, 196, 36); */
  display: flex;
  border-bottom: 1px solid black;
}

.img-size {
  justify-content: start;
  width: 100px;
  margin-bottom: 5px;
}

.cast-all {
  grid-template-columns: repeat(6, 1fr);
}
.cast-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.cast-itemInfo {
  display: inline-block;
}

/* 메인 파트2 : 아이디,비밀번호 코멘트 등록 */
#reviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #000;
}
.reviewBox {
  width: 100%;
  max-width: 500px;
  margin: 40px 0;
}
.reviewBox p {
  margin: 0 !important;
}
.reviewBox .userBox {
  position: relative;
}
.reviewBox .userBox input,
.reviewBox .userBox textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}
.reviewBox textarea {
  resize: none;
  border: 1px solid #ccc;
}

.reviewBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ccc;
  pointer-events: none;
  transition: 0.5s;
}

.reviewBox .userBox input:focus ~ label,
.reviewBox .userBox input:valid ~ label,
.reviewBox .userBox textarea:focus ~ label {
  top: -20px;
  left: 0;
  color: #0ea6fd;
  font-size: 12px;
}

.reviewBox input::placeholder,
.reviewBox textarea::placeholder {
  text-align: center;
  color: #ccc;
  font-size: 12px;
}

.reviewBox .Ment {
  margin-top: 20px;
  color: #333;
  font-size: calc(1.275rem + 0.3vw);
}
.reviewBox .Star {
  margin-bottom: 20px;
}
.reviewBox .commentBox {
  margin-top: 20px;
}
.reviewBox .inputComment {
  width: 100%;
}

.reviewBox .inputComment {
  padding: 5px;
  box-sizing: border-box;
}

.reviewBox button {
  border: none;
  background: #0ea6fd;
  outline: 0;
  width: 100%;
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  transition: ease-in-out 0.2s all;
}
.reviewBox button:hover {
  background: #82cbf6;
}
#allComment {
  padding: 7px;
  margin: 7px;
}

.Register {
  width: 400px;
  justify-content: center;
}

.inputComment {
  width: 350px;
  height: 120px;
}

/* 메인 파트2 : 코멘트 카드 */
.commentList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comment-all {
  padding: 0 20px;
}

.comment-item {
  text-align: justify;
}

input::placeholder {
  text-align: center;
}

/* 맨 아래 */
.foot {
  border-top: 1px solid #000;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  font-size: 11px;
}

.footContainer {
  display: flex;
}
.foot p {
  margin-bottom: 0 !important;
}
.foot address {
  margin: 0;
}

/**********
  Loading
**********/
.loading {
  text-align: center;
  margin: 20px auto;
}

.loading-flash div {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  box-sizing: border-box;
  background: #0ea6fd;
}
.loading-flash div:nth-of-type(4) {
  animation: flash 0.4s 0.1s ease-in-out infinite;
}
.loading-flash div:nth-of-type(3) {
  animation: flash 0.4s linear infinite;
}
.loading-flash div:nth-of-type(2) {
  animation: flash 0.4s -0.1s linear infinite;
}
.loading-flash div:nth-of-type(1) {
  animation: flash 0.4s -0.2s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/**********
  Media Query
**********/
@media screen and (max-width: 1024px) {
  .Leftright {
    flex-direction: column;
  }
  .movieImg,
  .movieImg img {
    width: 100%;
    margin-right: 0;
  }
  .commentList {
    grid-template-columns: 1fr 1fr;
  }
  .comment-all {
    padding: 10px 20px;
  }
  .cast-all {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .commentList {
    grid-template-columns: 1fr;
  }
  .cast-all {
    grid-template-columns: repeat(2, 1fr);
  }
  #movieVideo iframe {
    width: 100% !important;
  }
}

.movieTitle {
  font-weight: 900;
  font-size: 35px;
}
