@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700;900&family=PT+Serif:wght@700&display=swap");

body {
  font-family: "Noto Serif KR", serif;
  display: grid;
  justify-items: center;
  row-gap: 30px;
  padding: 10px;
}

button {
  font-family: "Noto Serif KR", serif;
  cursor: pointer;
}

.webTitle {
  height: 300px;
  font-family: "PT Serif";
  font-size: 300px;
  font-weight: bold;
}

.searchBox {
  margin-top: 20px;

  > input {
    font-family: "Noto Serif KR", serif;
    width: 200px;
    height: 40px;
    text-align: center;
  }
}

.sortBox > button {
  background: transparent;
  margin: 0 5px 0 5px;
  border: 0px;
  color: rgb(100, 100, 100);
}

.cardBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 25px;
  margin: 5px;
}

.movie-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border: 1px solid black;
  padding: 5px;

  .poster {
    width: 100%;
    align-self: center;
  }

  .card-body {
    position: relative;

    .card-title {
      margin-top: 10px;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      padding: 5px;

      > a {
        text-decoration-line: none;
        color: black;
      }
    }

    .overview {
      position: relative;
      top: 5px;
      line-height: 120%;
      font-size: 14px;
      padding: 10px;
    }

    .detailBtn {
      width: 100px;
      height: 30px;
      font-style: italic;
      background: transparent;
      border: 1px solid black;
      margin: 20px auto 20px auto;
      display: block;
      transition: all 0.3s ease;
    }
    .detailBtn:hover {
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    }

    .vote-average {
      position: absolute;
      text-align: end;
      bottom: 10px;
      right: 10px;

      font-style: italic;
    }
  }
}

.pageBox {
  font-size: 20px;
  font-weight: bold;
  color: rgb(100, 100, 100);
  margin-bottom: 20px;

  .pages {
    margin: auto 3px auto 3px;
    cursor: pointer;
  }

  .preBtn,
  .nextBtn {
    font-size: 17px;
    color: black;
    margin: auto 10px auto 10px;
    cursor: pointer;
  }
}

.topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 100%;
  }

  .content {
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
